@use "/src/common/styles/templates" as *
h2
    margin-bottom: 0.5rem
    font:
        size: 2rem
        weight: 400
    @media(max-width:420px)
        font-size: 1.55rem
button
    font-family: Poppins-Regular, Helvetica, Arial,sans-serif
.heroContainer
    @extend %container
    margin: 3.75rem auto 0
    padding: 0 0.9375rem 2rem

.servicesContainer
    @extend %container
    justify-content: center
    padding: 2rem 0.9375rem
    text-align: center
    div
        margin-bottom: 4rem
        span
            @extend %notice
    

.cardsList
    @media(min-width: 768px)
        display: flex